header {
    section {
        nav.navbar.navbar-expand-lg.navbar-color {
            font-family: sans-serif;
            background-color: $color-principal;

            .container-fluid {
                a.navbar-brand {
                    img {
                        width: 190px;
                        height: 190px;
                        margin-bottom: -60px;
                        margin-top: -60px;
                        margin-left: 10px;
                    }
                }

                .collapse.navbar-collapse#navbarSupportedContent {
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
                        li.nav-item {
                            a.nav-link {
                                font-size: 20px;
                                color: black;
                            }
                        }
                    }

                    form.d-flex {


                        button.btn.btn-custom {
                            color: rgb(10, 10, 10);
                            background-color: rgb(255, 255, 255);
                            border-radius: 6px;
                            padding: 6px;
                            border: 1px solid rgb(8, 8, 8);

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.994);
                                color: white;
                            }
                        }

                    }
                }
            }
        }
    }
}


main {

    .main-title {
        text-align: center;
        margin: 20px 0;

        .alphabet-index {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            a {
                text-decoration: none;
                font-size: 18px;
                color: #555;
                margin: 0 10px;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .section-title {
        margin-top: 30px;
        font-size: 24px;

        .brand-list {
            list-style-type: none;
            padding: 0;
            display: inline-flex; 
            margin-bottom: 30px;// Mostrar elementos en línea como flexbox

            // Estilos para cada ítem de la lista de marcas
            .brand-item {
                margin-right: 10px;
                margin-left: 30px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


}

footer {
    background-color: $color-terceario;

    nav.foot {
        display: flex;
        justify-content: space-between;

        .section-column {
            .s {
                display: flex;
                flex-wrap: wrap;

                .section {
                    margin-right: 20px;
                    margin-bottom: 20px;

                    h2 {
                        font-family: sans-serif;
                        font-size: 20px;
                        margin-top: 44px;
                        font-weight: bold;
                    }

                    ul {
                        list-style: none;

                        li {
                            margin: 10px 0;

                            a {
                                text-decoration: none;
                                color: black;
                                font-family: sans-serif;
                                font-size: 16px;
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}